<<<<<<< HEAD:robotics/styles.css
* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: #a3cef1;
    overflow: hidden; /* Locks the main viewport */
}

.title-box{
    width: 100vw;
    height: 9.5vh;
    background-color:#274c77 ;
    box-shadow: 0px 0px 40px 15px #0007;
    display: flex;
    justify-content: center;
}

.title{
    color:#efefd0;
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(0.1rem, 5vw, 2rem);
    font-weight:bold;
    margin: 2vh 0vh 2vh 0;
}

.title-logo{
    margin: 1.4vh 0vh 2vh 0;
    max-width: auto;
    max-height: auto;
}


.body-box{
    display: flex;
    width: 100vw;
}

.menu-box{
    width: auto;
    height: auto;
    background-color:#6096ba;
    padding: 1vw;
    box-shadow: 10px 0px 15px #0007;
}

.menu-first{
    margin:0;
    font-size: clamp(0.2rem, 5vw, 1.2rem);
    text-align: left;
    font-weight:bold;
}

.menu-first summary{
    cursor: pointer;
}

.menu-second{
    font-weight:lighter;
}

.title-1{
    font-size: clamp(0.3rem, 5vw, 1.5rem);
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}

.title-2{
    font-size: clamp(0.3rem, 5vw, 1.3rem);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
}

.title-3{
    font-size: clamp(0.3rem, 5vw, 1.3rem);
    font-style: italic;
    text-align: center;
    margin-bottom: 2vh;
}


.text{
    font-size: clamp(0.3rem, 5vw, 1.2rem);
    text-align: justify;
    margin:2vh 3vw 2vh 3vw;
}

.text-li{
    font-size: clamp(0.3rem, 5vw, 1.2rem);
    margin:2vh 3vw 2vh 3vw;
    text-align: center;
}
.text-date{
    font-size: clamp(0.3rem, 5vw, 1rem);
    margin:2vh 0vw 2vh 0vw;
    text-align: center;
}

.text-line{
    width: 60%; 
    margin: auto; 
    margin-top: 5vh;
    border-bottom: 2px solid #333;
}

table{
    margin:auto;
    border-collapse: collapse;
}
th,td{
    border: 2px solid black; 
    padding: 0.5vw;
    background-color: #ced1dc;
    text-align: center;
}


.info-box{
    width: auto;
    height: 90.5vh;
    margin: auto;
    overflow-y: auto;
}

.body-box a{
    color: rgb(7, 41, 130);
}

.image-box{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.image-item{
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #0007;
    margin: 2vw;
}
=======
* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: #a3cef1;
    overflow: hidden; /* Locks the main viewport */
}

.title-box{
    width: 100vw;
    height: 9.5vh;
    background-color:#274c77 ;
    box-shadow: 0px 0px 40px 15px #0007;
    display: flex;
    justify-content: center;
}

.title{
    color:#efefd0;
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(0.1rem, 5vw, 2rem);
    font-weight:bold;
    margin: 2vh 0vh 2vh 0;
}

.title-logo{
    margin: 1.4vh 0vh 2vh 0;
    max-width: auto;
    max-height: auto;
}


.body-box{
    display: flex;
    width: 100vw;
}

.menu-box{
    width: auto;
    height: auto;
    background-color:#6096ba;
    padding: 1vw;
    box-shadow: 10px 0px 15px #0007;
}

.menu-first{
    margin:0;
    font-size: clamp(0.2rem, 5vw, 1.2rem);
    text-align: left;
    font-weight:bold;
}

.menu-first summary{
    cursor: pointer;
}

.menu-second{
    font-weight:lighter;
}

.title-1{
    font-size: clamp(0.3rem, 5vw, 1.5rem);
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}

.title-2{
    font-size: clamp(0.3rem, 5vw, 1.3rem);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
}

.text{
    font-size: clamp(0.3rem, 5vw, 1.2rem);
    text-align: justify;
    margin:2vh 3vw 2vh 3vw;
}

.text-li{
    font-size: clamp(0.3rem, 5vw, 1.2rem);
    margin:2vh 0vw 2vh 0vw;
    text-align: center;
}

.text-line{
    width: 60%; 
    margin: auto; 
    margin-top: 5vh;
    border-bottom: 2px solid #333;
}

table{
    margin:auto;
    border-collapse: collapse;
}
th,td{
    border: 2px solid black; 
    padding: 0.5vw;
    background-color: #ced1dc;
    text-align: center;
}


.info-box{
    width: auto;
    height: 90.5vh;
    margin: auto;
    overflow-y: auto;
}

.body-box a{
    color: rgb(7, 41, 130);
}

.image-box{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.image-item{
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #0007;
    margin: 2vw;
}
>>>>>>> 21bc73e8fccf1d78e1cc5323943189d9db32e171:robotics/donkey_cars/styles.css
