* {
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: #a3cef1;
    overflow: hidden; /* Locks the main viewport */
}

.title-box{
    width: 100vw;
    height: 9.5vh;
    background-color:#274c77 ;
    box-shadow: 0px 0px 40px 15px #0007;
    display: flex;
    justify-content: center;
}

.title, .title-logo{
    color:#efefd0;
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(0.2rem, 5vw, 2rem);
    font-weight:bold;
    padding-top:2vh;
}


.body-box{
    display: flex;
    width: 100vw;
}

.menu-box{
    width: auto;
    height: auto;
    background-color:#6096ba;
    padding: 1vw;
    box-shadow: 10px 0px 15px #0007;
}

.menu-first{
    margin:0;
    font-size: clamp(0.2rem, 5vw, 1.2rem);
    text-align: left;
    font-weight:bold;
}

.menu-first summary{
    cursor: pointer;
}

.menu-second{
    font-weight:lighter;
}

.info-box{
    width: auto;
    height: 90.5vh;
    margin: auto;
    overflow-y: auto;
}

.info-content{
    display: flex;
}

.block-1, .block-2{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: clamp(0.1rem, 5vw, 1.2rem);
    font-weight:bold;
}

.images{
    max-width: 100%;
    height: auto;
}


.body-box a{
    color: rgb(7, 41, 130);
}